name: Build

on:
  pull_request:
    paths-ignore:
      - '.github/**'
      - 'README.md'
      - 'LICENSE'
    branches:
      - "**"
  push:
    paths-ignore:
      - '.github/**'
      - 'README.md'
      - 'LICENSE'
    branches:
      - "**"

jobs:
  build:
    name: Build Application
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: true

      - name: Install Oxipng if not present
        run: which oxipng || cargo install oxipng

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'microsoft'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Compress PNGs
        run: oxipng -o max -s -a -r src

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Apply formatting
        run: ./gradlew spotlessApply

      - name: Build
        run: ./gradlew build

      - name: Capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/